.github
.idea
.env
app/db
docs
local
deploy

# Pretty much all laravel storage is cache, which you do not want to build into an image.
storage/logs/*.log
storage/*.index
storage/framework/cache/data/*
storage/app/*
storage/sessions/*
storage/testing/*
storage/views/*

# local overrides should never apply to container builds
composer.local.json
composer.lock

# Ignore dependencies, they will be fetched as part of the build process
node_modules
vendor

