app/db/*

*.bak

app/views/dashboard/custom_dashboard.php

custom

config.php
*.DS_Store

*.zip

vendor/*

composer.lock
.env
composer.local.*

local/users/*.yml
local/dashboards/*.yml
local/certs/*.crt
local/certs/*.key
local/module_configs/*.yml
local/modules/*
local/views/widgets/*

.php_cs.cache
composer
storage/framework/down
node_modules

.phpunit.result.cache
storage/oauth-private.key
storage/oauth-public.key
