includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - compatibility

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Unsafe usage of new static#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false

    bootstrapFiles:
      - compatibility/shims/v5.php
