<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<staticContent>
			<mimeMap fileExtension="." mimeType="application/octet-stream" /> <!-- Allows files without extension -->
			<mimeMap fileExtension="*" mimeType="application/octet-stream" /> <!-- Allows all extensions -->	
		</staticContent>
		<security>
         <requestFiltering>
            <hiddenSegments> <!-- Add filepaths that you don't want to be browsed -->
               <add segment="app" />
            </hiddenSegments>
         </requestFiltering>
      </security>
    </system.webServer>
</configuration>
