<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<staticContent>
			<mimeMap fileExtension="." mimeType="application/octet-stream" /> <!-- Allows files without extension -->
			<mimeMap fileExtension="*" mimeType="application/octet-stream" /> <!-- Allows all extensions -->	
		</staticContent>
    </system.webServer>
</configuration>
