text, svg .nvd3.nv-pie .nv-pie-title, .nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text{
   fill: #333333;
}
.nvtooltip, .nvtooltip table{
   background-color: #ffffff;
}
