text, svg .nvd3.nv-pie .nv-pie-title, .nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text{
   fill: #ffffff;
}
.nvd3 .nv-axis path{stroke: #ffffff}
.nvd3.nv-pie path{stroke: #222222}
.nvtooltip, .nvtooltip table{
   color: #ffffff;
   background-color: #222222;
}
