text, svg .nvd3.nv-pie .nv-pie-title, .nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text{
   fill: #2c3e50;
}
.nvd3 .nv-axis path{stroke: #2c3e50}
.nvd3.nv-pie path{stroke: #ffffff}
.nvtooltip, .nvtooltip table{
   color: #2c3e50;
   background-color: #ffffff;
}
