.table-console {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 1rem;
    padding: 1rem;
}

.table-console > tbody {
    /*overflow-y: scroll;*/
}

.table-console td {
    border: none;
    padding: 2px 0;
}

.log-level-error {
    color: red;
}

.log-level-info {
    color: darkgrey;
}

.loading {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 100ms;
}

.database-alert {
    margin-top: 1rem;
}
