body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.loginform {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.loginform .form-signin-heading,
.loginform .checkbox {
  margin-bottom: 10px;
}
.loginform input[type="text"],
.loginform input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
/* color for list group items */
a.list-group-item-success > .badge
{
  background-color: #5cb85c;
}
a.list-group-item-warning > .badge
{
  background-color: #f0ad4e;
}
a.list-group-item-danger > .badge
{
  background-color: #d9534f;
}

/* Scroll box for list widgets */
.scroll-box
{
  height: 200px; overflow-y: scroll;
}

/* Fix bleeding in legend color box */
.flotr-legend-color-box *
{
  box-sizing: content-box;
}