body {
  padding-top: 60px;
  padding-bottom: 40px;
}
/* color for list group items */
a.list-group-item-success > .badge
{
  background-color: #5cb85c;
}
a.list-group-item-warning > .badge
{
  background-color: #f0ad4e;
}
a.list-group-item-danger > .badge
{
  background-color: #d9534f;
}

/* Scroll box for list widgets */
.scroll-box
{
  height: 200px; overflow-y: scroll;
}

/* Fix bleeding in legend color box */
.flotr-legend-color-box *
{
  box-sizing: content-box;
}

/* Fix paging */
.paging_bootstrap ul.pagination
{
  margin-top: 0;
}

/* DataTables processing */
.dataTables_processing
{
  padding: 4px;
  float: left;
}