body {
  padding-top: 60px;
  padding-bottom: 40px;
}
/* color for list group items */
a.list-group-item-success > .badge
{
  background-color: #5cb85c;
}
a.list-group-item-warning > .badge
{
  background-color: #f0ad4e;
}
a.list-group-item-danger > .badge
{
  background-color: #d9534f;
}

/* Scroll box for list widgets */
.scroll-box
{
  max-height: 200px; overflow-y: scroll;
}

/* Fix bleeding in legend color box */
.flotr-legend-color-box *
{
  box-sizing: content-box;
}

/* Fix paging */
.paging_bootstrap ul.pagination
{
  margin-top: 0;
}

/* DataTables processing */
.dataTables_processing
{
  padding: 4px;
  float: left;
}

/* Machine button */
.machine
{
  width: 131px;
}
.machine a.btn-default
{
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.machine a.btn-danger
{
  width: 20px;
  display:none;
}
.edit a.btn-default
{
  width: 110px;
}
.edit a.btn-danger
{
  width: 20px;
  display:block;
}

/* Stretch to 98% for large screens */
@media (min-width: 1200px)
{
  .container {
  max-width: 98%;
  }
}

.progress{margin-bottom: 0}

h2 {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

.bigger-150
{
  font-size:150%
}