<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildNumber</key>
	<string>116</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.0</string>
	<key>GitRevision</key>
	<string>57542ffe6896cbd8ed83e2d696521996358955f7</string>
</dict>
</plist>
