<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>name</key>
	<string>munkireport</string>
	<key>display_name</key>
	<string>Munkireport Install and config</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>path</key>
			<string>/usr/local/munki/munkireport-1.0.0</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>preinstall_script</key>
	<string>#!/bin/bash

BASEURL="http://localhost/munkireport-php"
MUNKIPATH="/usr/local/munki"
PREFPATH="/Library/Preferences/MunkiReport"
FAIL=0

#### Install Munkireport ####

curl -s "$BASEURL/scripts/preflight" &gt; "$MUNKIPATH/preflight" || FAIL=1
curl -s "$BASEURL/scripts/postflight" &gt; "$MUNKIPATH/postflight" || FAIL=1
curl -s "$BASEURL/scripts/report_broken_client" &gt; "$MUNKIPATH/report_broken_client" || FAIL=1
curl -s "$BASEURL/scripts/reportcommon" &gt; "$MUNKIPATH/munkilib/reportcommon.py" || FAIL=1
if [[ $FAIL = '0' ]]; then
	chmod a+x "$MUNKIPATH/"{preflight,postflight,report_broken_client}
	rm -f /usr/local/munki/munkireport-*
	touch /usr/local/munki/munkireport-1.0.0
fi

#### Configure Munkireport ####

defaults write $PREFPATH BaseUrl "http://localhost/munkireport-php/"
defaults delete $PREFPATH ReportItems
# Add munkireport
defaults write $PREFPATH ReportItems -dict-add Munkireport "/Library/Managed\ Installs/ManagedInstallReport.plist"

# Add InstallHistory (in 10.5 you need SWU.log)
if [[ `uname -r` &lt; '10.0.0' ]]; then 
	IPATH="/Library/Logs/Software Update.log"
else
	IPATH="/Library/Receipts/InstallHistory.plist"
fi
defaults write $PREFPATH ReportItems -dict-add InstallHistory "$IPATH"

# Add inventory
defaults write $PREFPATH ReportItems -dict-add InventoryItem "/Library/Managed\ Installs/ApplicationInventory.plist"
exit 0
	</string>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>uninstallable</key>
	<true/>
	<key>uninstall_method</key>
	<string>uninstall_script</string>
	<key>uninstall_script</key>
	<string>#!/bin/sh
rm /usr/local/munki/preflight
rm /usr/local/munki/postflight
rm /usr/local/munki/report_broken_client
rm /usr/local/munkilib/reportcommon.py
rm /usr/local/munki/munkireport-*
rm /Library/Preferences/MunkiReport.plist
	</string>
	<key>version</key>
	<string>1.0.0</string>
</dict>
</plist>
